body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 50px 0;
  background-color: #6e716e;
  color: white;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 70%;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}

section {
  padding: 50px 20px;
  background-color:  #6e716e;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
  text-align: center;
}

section p, section ul {
  max-width: 600px;
  margin: 0 auto;
}

section ul {
  list-style: none;
  padding: 0;
}

section ul li {
  background-color:  #6e716e;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}